.about {
  /* height: 100vh; */
  /* margin-bottom: 500px; */
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}


.contact-card {
  display: inline-block;
  padding: 16px;
  /* height: 300px; */
  color: #dbe2ef;
  font-family: 'Raleway', sans-serif;
  width: 75%;
  text-align: center;

}
.contact-card p {
  font-size: 24px;
  padding: 20px;
}

.skill-boxes {
  display: inline-block;
}

.skill-boxes p {
  color: white;
    font-size: 19px;
    /* margin: 4px; */
    padding: 4px;
    border: 1px solid white;
    border-radius: 4px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: inline-block;
}