* {
  margin: 0;
  padding: 0;
}

.name-banner {
  color: #dbe2ef;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  padding: 10px;
  /* word-break: normal; */
  /* width: 200px; */
}

.description {
  color: #dbe2ef;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  padding: 10px;
}


.section-title {
  color: #dbe2ef;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  text-align: center;
}

.left-side-content {
  text-align: center;
  vertical-align: middle;
  /* position: relative; */
  /* top: 50%; */
  margin-top: 35vh;
}