.name-banner {
  color: #dbe2ef;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  word-break: normal;
  width: 200px;
}

.description {
  color: #dbe2ef;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}

.landing-page {
  margin-top: 1px;
  height: 100vh;
  margin-left: 20px;
}

.section-title {
  color: #dbe2ef;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  text-align: center;
}