.me {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  opacity: 1;
  margin-right: 20px;
  /* padding: 8px; */
  border: solid 1px grey;
  margin-top: 50px;
}

.image-first {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}