.split-left{
  width:50%;
  height:100vh;
  background-color:#C27A65;
  float:left;
  position: static;
}
.split-right{
  width:50%;
  height:100vh;
  background-color: #2b657a;
  float:left;
  overflow: auto;
}

/* MEDIA QUERIES FOR 545px <= Resolutions */ 

@media (max-width:545px){
  .block-left{
    display:block;
    width:100%;
  }
  .block-right{
    display:block;
    width:100%;
  }
}
